@font-face {
  font-family: "Montserrat";
  src: url(../public/polices/Montserrat-Regular.ttf) format("truetype");
}
body, html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 40%;
  height: 60%;
  background: #15DEA5;
  padding: 2% 5% 5% 5%;
  border-radius: 2vw;
  margin: 2vw auto;
}
.container--form {
  height: 30%;
  background: #90d5fd;
}

.btn {
  background-color: rgba(1, 28, 55, 0);
  border: 4px solid #011c37;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  width: 15vw;
  height: 5vw;
  position: relative;
  padding: 1.1vw 2vw;
  overflow: hidden;
  margin: 2vw auto 2vw auto;
  transform: scale(1);
  transition: transform 400ms ease-in-out, background-color 300ms;
  transition-delay: 250ms;
  border-radius: 3vw;
  cursor: pointer;
  text-align: center;
}
.btn:active + .voisin {
  transform: scale(1.15);
  background: #371c01;
}
.btn:hover {
  transform: scale(1.15);
  background-color: #011c37;
}

.voisin {
  width: 10vw;
  height: 10vw;
  background: #6300a0;
  transform: scale(0.1);
  transition: transform 4s ease-in-out;
  border-radius: 100%;
  margin: auto;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  color: #6300a0;
}
.form__group label {
  padding-left: 1vw;
  font-size: 1.5vw;
}
.form__group input {
  width: 80%;
  border: #15DEA5;
  font-size: 2vw;
  outline: none;
  border-radius: 3vw;
  transition: background-color 400ms;
}
.form__group input:focus {
  border: 2px solid #6300a0;
}
.form__group input:not(:focus):invalid {
  border: 2px solid #b20a37;
  background-color: #b20a37;
  color: #fff;
}

.resto {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5vw;
  line-height: 0.5;
  background: #e7e4e4;
  border: 1px solid #e7e4e4;
  margin: auto;
}
.resto__titre {
  width: 60%;
}
.resto__menu {
  width: 60%;
  background: white;
  height: 25vw;
  border-radius: 2vw;
  margin-bottom: 2vw;
}
.resto__menu__image {
  width: 100%;
  height: 60%;
}
.resto__menu__image > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

p {
  padding-left: 0.8vw;
}
p i {
  float: right;
  font-size: 2.3vw;
  cursor: pointer;
}
p .hide {
  color: black;
  position: relative;
  right: 2.3vw;
  z-index: 1000;
}
p .hide:hover {
  color: #9356DC;
}
p .hide:hover + .test {
  opacity: 1;
  transform: scale(1);
}
p .hide + .test {
  color: #9356DC;
  opacity: 1;
  transform: scale(0.01);
  transform-origin: bottom;
  transition: opacity 200ms 100ms, transform 0.5s cubic-bezier(0.35, 0.04, 0.23, 0.98);
}

.cont {
  width: 60%;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.box {
  width: 15%;
  height: 30%;
  padding-top: 4%;
  background-color: palevioletred;
  transform: translate(0%, 0%);
  transition: transform 1s ease-in-out;
  margin-bottom: 5vw;
}
.box span {
  color: white;
}

.bouton {
  width: 15%;
  height: 15%;
  cursor: pointer;
  padding-top: 2%;
  background: darkmagenta;
}
.bouton:hover + .box {
  transform: translate(5vw, 4vw);
}

.contain {
  width: 50%;
  height: 50%;
  margin: auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}

.btnControl {
  width: 25%;
  height: 15%;
  background: #6300a0;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.btnControl--rotation {
  border-radius: 2vw;
}
.btnControl--rotation:hover + .boxcontain--AniRotation {
  transform: rotate(1turn);
}
.btnControl--rotation:hover + .boxcontain--AniRotation > .text {
  transform: scale(2);
  color: pink;
}
.btnControl--translate:hover + .boxcontain--Anitranslate {
  transform: rotate(360deg);
}
.btnControl--translate:hover + .boxcontain--Anitranslate .text--translate {
  transform: translateY(0%);
}

.boxcontain {
  width: 15%;
  height: 20%;
  background: #06f1d2;
  padding: 3% 0 0 4%;
  color: white;
}
.boxcontain--AniRotation {
  transform: rotate(0 turn);
  transition: transform 200ms ease-in-out;
}
.boxcontain--AniRotation .text {
  display: inline-block;
  transform: scale(1);
  transition: transform 500ms ease-in-out 200ms;
}
.boxcontain--Anitranslate {
  transform: rotate(0deg);
  transition: transform 200ms ease-in-out;
}
.boxcontain--Anitranslate .text--translate {
  display: inline-block;
  overflow: hidden;
  transform: translateY(250%);
  transition: transform 200ms ease-in-out 50ms;
}

.progress {
  width: 80%;
  height: 15%;
  border: 0.05vw solid grey;
}
.progress__bar {
  width: 99%;
  height: 90%;
  margin: 0.2vw 0.15vw auto auto;
  background-color: #15DEA5;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 2s cubic-bezier(0.32, 0, 0.07, 1);
}

.charge:active + .progress .progress__bar {
  transform: scaleX(1);
}

.bi {
  display: flex;
}

.over {
  border: 1px solid red;
  width: 20%;
  transition: text-overflow 5s ease-in-out;
  height: 10%;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.over:hover {
  width: 10%;
  text-overflow: ellipsis;
}

.menu-box {
  width: 40%;
  background: #e7e4e4;
  height: 100%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-left: 2.3vw;
}
.menu-box h3 {
  border-bottom: 0.5vw solid #15DEA5;
  text-transform: uppercase;
  height: 10%;
  width: 15%;
}

.plat {
  background: white;
  width: 35vw;
  height: 7vw;
  border-radius: 2vw;
  margin-bottom: 1vw;
  overflow: hidden;
  display: flex;
  z-index: 1000;
}
.plat:hover .titre {
  width: 24vw;
}
.plat:hover .extension span:nth-child(2) > i {
  transform: rotate(360deg);
}
.plat .titre {
  width: 35vw;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 1vw;
  padding-left: 1vw;
  text-overflow: ellipsis;
  transition: width 0.7s ease-in-out;
}

.extension {
  width: 4.2vw;
  text-align: right;
  white-space: nowrap;
}
.extension span {
  display: inline-block;
  padding-top: 2.1vw;
  width: 4vw;
  text-align: center;
  height: 7vw;
}
.extension span:nth-child(2) {
  color: white;
  background: #15DEA5;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  width: 7vw;
  font-size: 2vw;
}
.extension span:nth-child(2) i {
  transform: rotate(0deg);
  transition: transform 0.8s ease-in-out 0.05s;
}

/*# sourceMappingURL=main.css.map */
